.git
.github
.cursor
.idea
.vscode
.zed
.env
.env.*
!.env.example
!.env.docker.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php
public/hot
public/storage
database/*.sqlite
tests
phpunit.xml
README.md
*.md
.editorconfig
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
